html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.width-wrap {
  max-width: 960px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #c3e0e5;
}
footer hr {
  width: 50vw;
  min-width: 300px;
  max-width: 890px;
  margin-top: 3em;
  margin-bottom: 2em;
  border: 0;
  border-bottom: 3px dotted palevioletred;
}
dt::after {
  content: ":";
}
body {
  background-color: #274472;
  color: #41729f;
  font-family: "Balsamiq Sans", cursive;
  line-height: 1.3em;
}
h1,
h2,
h3 {
  color: royalblue;
}
body a {
  color: #660066;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
nav a {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  padding-bottom: 0.5em;
}
::selection {
  color: blueviolet;
  background-color: pink;
}

nav ul li {
  list-style-type: none;
}
header {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  margin-left: -2em;
  margin-right: -2em;
}
nav {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  padding-left: 0em;
  padding-right: 0em;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 0.5em;
}
nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav ul li a:hover {
  border-top-color: red;
  text-decoration: none;
}
nav ul li a {
  margin-top: -4px;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  border-top: 4px solid transparent;
}

@media screen and (max-width: 500px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 200ms;
  }
  nav ul li a {
    padding-top: 0.5em;
    border-top: none;
  }
  nav ul li a:hover {
    border-top-color: none;
    text-decoration: underline;
  }
}
td,
th {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
}
thead td,
tfoot td,
th {
  background-color: rgba(0, 0, 0, 0.2);
}
td {
  background-color: rgba(0, 0, 0, 0.05);
}
tbody tr:nth-child(even) td {
  background-color: rgba(0, 0, 0, 0.15);
}

input + label {
  display: inline;
}
label {
  display: block;
}
[type="submit"] {
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: burlywood;
  color: cornflowerblue;
}
input:invalid {
  background-color: cornflowerblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Balsamiq Sans", cursive;
  line-height: normal;
}
body ol {
  list-style-type: upper-roman;
}
iframe {
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
}
fieldset ul {
  padding: 0;
  list-style-type: none;
}
h1 {
  background: rgb(215, 22, 22);
  background: linear-gradient(
    254deg,
    rgba(215, 22, 22, 0.028634361233480177) 10%,
    rgba(250, 107, 107, 0.8986784140969163) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  color: rgba(0, 0, 0, 0);
}
.bio {
  column-width: 13em;
  column-gap: 2em;
  position: relative;
}
.bio table {
  column-span: all;
}

table {
  margin-top: 1em;
  border-collapse: collapse;
  caption-side: bottom;
}
img {
  max-width: 100%;
}
.bio a img:first-child {
  padding: 2%;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.bio a {
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 600px) {
  thead td,
  tfoot td,
  th {
    display: none;
  }
  td {
    display: block;
    padding: 0 1rem;
  }

  table {
    caption-side: top;
  }
  tr td:first-child {
    padding-top: 0.3em;
    font-weight: bold;
  }
  tr td:last-child {
    padding-bottom: 0.3em;
    font-style: italic;
    font-size: 0.8em;
  }

  tr td:last-child::after {
    content: "hrs/wk";
  }
}

.paperclip {
  border-radius: 0;
  background: none;
  box-shadow: none;
  position: absolute;
  top: 26px;
  right: 26px;
  width: 20%;
}
@media screen and (max-width:500px){
  .paperclip{
  display: none;
  }
}
footer {
  font-size: 75%;
  text-align: center;
}
a[href="#top"] {
  text-shadow: rgb(7, 7, 6) 1px 0 10px;
  margin-left: -25px;
  position: sticky;
  bottom: 10px;
  display: inline-block;
  transition: transform 200ms;
  opacity: 0.5;
}
a[href="#top"]:hover {
  text-decoration: none;
  transform: rotate(45deg);
  opacity: 1;
}
.favourites div {
  display: none;
}

input:checked + label + div {
  display: flex;
  background-color: rgba(0, 0, 0, 0.15);
  justify-content: center;
  width: 100%;
}
div.favourites input {
  display: none;
}
div.favourites {
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
div.favourites label {
  order: -1;
  margin: 1em;
}
div.favourites input:checked + label {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-bottom: 4px solid transparent;
  border-bottom-color: red;
  background-color: rgba(219, 135, 135, 0.5);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 800px) {
  div.favourites {
    flex-direction: column;
  }
  div.favourites label {
    order: 0;
    text-align: center;
    padding: 0;
  }
  input:checked + label + div {
    background-color: rgb(252, 200, 209);
    margin: 0;
    border-radius: 10px;
  }
  div.favourites input:checked + label {
    margin: 0;
    border-radius: 15px;
  }
}

div.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
}
div.gallery a img {
  border-radius: 0%;
  background-color: transparent;
  box-shadow: none;
  padding: 0em;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a.row-span-2 {
  grid-row: span 2;
}
a.col-span-2 {
  grid-column: span 2;
}
@media screen and (max-width: 450px) {
  a.col-span-2 {
    grid-column: span 1;
  }
}
div.gallery a {
  transition: transform 200ms;
  opacity: 0.5;
}
div.gallery a:hover {
  transform: scale(1.1);
  opacity: 1;
}
header nav input {
  display: none;
}
header nav label {
  display: none;
}
@media screen and (max-width: 500px) {
  label.sandwich-icon {
    display: block;
    width: 40px;
    height: 25px;
    border-top: solid 5px blueviolet;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    position: relative;
    transition: border-top 200ms;
  }

  label.sandwich-icon::after {
    content: "";
    display: block;
    width: 40px;
    border-top: 5px solid blueviolet;
    position: absolute;
    top: 15px;
    transition: transform 200ms;
  }
  label.sandwich-icon::before {
    content: "";
    display: block;
    width: 40px;
    border-top: 5px solid blueviolet;
    position: absolute;
    top: 5px;
    transition: transform 200ms;
  }

  nav input[id="menu-toggle"]:checked + label::before {
    display: block;
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  nav input[id="menu-toggle"]:checked + label::after {
    display: block;
    transform: rotate(45deg) translate(-2px, -3px);
  }
  nav input[id="menu-toggle"]:checked + label + ul {
    height: 150px;
  }
  nav input[id="menu-toggle"]:checked + label {
    transition: border-top 400ms;
    border-top: transparent;
  }
}
