html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.width-wrap {
  max-width: 960px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #c3e0e5;
}
footer hr {
  width: 50vw;
  min-width: 300px;
  max-width: 890px;
  margin-top: 3em;
  margin-bottom: 2em;
  border: 0;
  border-bottom: 3px dotted palevioletred;
}
dt::after {
  content: ":";
}
body {
  background-color: #274472;
  color: #41729f;
  font-family: "Balsamiq Sans", cursive;
  line-height: 1.3em;
}
h1,
h2,
h3 {
  color: royalblue;
}
body a {
  color: #660066;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
nav a {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
}
::selection {
  color: blueviolet;
  background-color: pink;
}

nav ul li {
  display: inline;
}
header {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  margin-left: -2em;
  margin-right: -2em;
}
nav {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  padding-left: 0em;
  padding-right: 0em;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 0.5em;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li a:hover {
  border-top-color: red;
  text-decoration: none;
}
nav ul li a {
  margin-top: -4px;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  border-top: 4px solid transparent;
}

td,
th {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
}
thead td,
tfoot td,
th {
  background-color: rgba(0, 0, 0, 0.2);
}
td {
  background-color: rgba(0, 0, 0, 0.05);
}
tbody tr:nth-child(even) td {
  background-color: rgba(0, 0, 0, 0.15);
}

input + label {
  display: inline;
}
label {
  display: block;
}
[type="submit"] {
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: burlywood;
  color: cornflowerblue;
}
input:invalid {
  background-color: cornflowerblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Balsamiq Sans", cursive;
  line-height: normal;
}
body ol {
  list-style-type: upper-roman;
}
iframe {
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
}
fieldset ul {
  padding: 0;
  list-style-type: none;
}
h1 {
  background: rgb(215, 22, 22);
  background: linear-gradient(
    254deg,
    rgba(215, 22, 22, 0.028634361233480177) 10%,
    rgba(250, 107, 107, 0.8986784140969163) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  color: rgba(0, 0, 0, 0);
}
[class="bio"] {
  column-count: 3;
  column-gap: 2em;
}
table {
  margin-top: 1em;
  border-collapse: collapse;
  caption-side: bottom;
}
image {
  max-width: 100%;
}
main div a img {
  padding: 2%;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
footer {
  font-size: 75%;
  text-align: center;
}
a[href="#top"] {
  text-shadow: rgb(7, 7, 6) 1px 0 10px;
}
a[href="#top"]:hover {
  text-decoration: none;
}
